rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if a user is an administrator
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    // Rules for the 'users' collection
    match /users/{userId} {
      // Allow any authenticated user to create their own user document
      allow create: if request.auth != null;

      // Allow a user to read or update their own data
      allow get, update: if request.auth.uid == userId;

      // Allow an admin to do anything to any user document
      allow read, write, delete: if isAdmin();
    }
    
    // Admins need to be able to query the entire 'users' collection
    match /users/{document=**} {
        allow list: if isAdmin();
    }

    // Rules for the 'settings' collection
    match /settings/{settingId} {
      // Only administrators can read or write settings
      allow read, write: if isAdmin();
    }
  }
}
